// ReSharper disable once CheckNamespace
namespace {{NameSpace}};

public static unsafe partial class {{FriendlyName}}Native
{
{{for function in Functions}}
    [DllImport("{{NativeProjectName}}", CallingConvention = CallingConvention.Cdecl)]
    public static extern {{function.ReturnType}} {{function.ExportedName}}({{function.Parameters}});
{{end}}
}